In [ ]:
x=10

In [ ]:
a=9

In [1]:
print("hello Abhijeet")

hello Abhijeet

In [16]:
y=6

In [11]:
c=8

NameError: name 'y' is not defined

In [10]:
print(x)

NameError: name 'x' is not defined

In [9]:
print(x)

NameError: name 'x' is not defined

In [2]:
a=6
b=9
print(a+b)

15

abhijeet

abhijeet

In [4]:
print("Hi")

Hi

In [14]:
c=8

In [15]:
print(c)

8

In [17]:
print(y)

6

In [4]:
#this is comment

In [6]:
""" this is comment 
double"""

' this is comment \ndouble'

In [7]:
20+10/5

22.0

In [8]:
5**3

125

In [9]:
"a"
print(type("a"))

<class 'str'>

In [10]:
print(type('a'))

<class 'str'>

In [11]:
print("Hello \nWorld")

Hello
World

In [12]:
print("Hello \tWorld")

Hello 	World

In [13]:
x=6
print(type(x))

<class 'int'>

In [14]:
x=6
if x%2==0:
    print("even")
else:
    print("odd")

even

In [15]:
my_string1 = ("Capital of %s is %s" %("India","Delhi"))
print(my_string1)

Capital of India is Delhi

In [18]:
my_string2 = "capital of {} is {} and it is located at {},{}".format("India","Delhi",22.6,90)
print(my_string2)

capital of India is Delhi and it is located at 22.6,90

In [20]:
print("hello world!",end="")
print("Hello everyone!")

hello world!Hello everyone!

In [446]:
print("A","B","ABC",sep='\n')

A
B
ABC

In [8]:
name = input()
print("Hello "+name)

15
Hello 15

In [9]:
age = int(name)

In [10]:
print(age)

15

In [11]:
print(type(age))

<class 'int'>

In [12]:
number = int(input())

10

In [13]:
print(type(number))

<class 'int'>

In [17]:
l=[]
x = input().split(" ")

abc 0 5

In [18]:

print(x)
p=x[0]
arg = x[1:]

['abc', '0', '5']

In [19]:
l.insert(int(arg[0]),int(arg[1]))
print(l)
l.insert(1,4)
sum(l)

[5]

9

In [14]:
"10 20 30 40".split()

['10', '20', '30', '40']

In [16]:
l= "10 20 30 40 50".split()
print(l)

['10', '20', '30', '40', '50']

In [18]:
numbers = [int(no) for no in l]
print(numbers)

[10, 20, 30, 40, 50]

In [19]:
print(type(numbers))

<class 'list'>

In [20]:
numbers = [int(no) for no in input().split()]

10 20 30 40 50

In [21]:
print(numbers)

[10, 20, 30, 40, 50]

In [22]:
10/5

2.0

In [23]:
10/5.0

2.0

In [24]:
10/3

3.3333333333333335

In [25]:
10//3

3

In [26]:
10%3

1

In [27]:
x=int(input())
print(x/3)

10
3.3333333333333335

In [30]:
a = 5
a >=5

True

In [32]:
a = int(input())
b = int(input())

area = a*b
perimeter = 2*(a+b)

print("area {}, perimeter {}".format(area,perimeter))

10
20
area 200, perimeter 60

# if Else Blocks

In [41]:
whether = input()

if whether =="sunny" :
    print("Let's play")
elif whether == "rainy" :
    print("don't go outside")
else:
    print("indoor")

rainy
don't go outside

In [47]:
a = 1

while(a<=10):
    print("step %d"%a)
    a+=1
    
print("Loop Finished")

step 1
step 2
step 3
step 4
step 5
step 6
step 7
step 8
step 9
step 10
Loop Finished

In [49]:
for i in range (1,10,2):
    print(i,end=",")

1,3,5,7,9,

In [233]:
no = 5

ans = 1

for i in range(1,no+1):
    ans *=i
print(ans)

120

## Loops Here

In [55]:
for i in range(10,1,-2):
    
    print("%d "%i,end=',')

10 ,8 ,6 ,4 ,2 ,

In [58]:
# 5 X 5 Matrix

n = 5
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y),end=" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

## Break Continue and Pass Statements

In [62]:
for i in range(1,10):
    if i == 5:
        print(i*i)
    print(i)

1
2
3
4
25
5
6
7
8
9

In [64]:
for i in range(1,10):
    if i==6:
        continue
    print(i)
print("Loops ends")

1
2
3
4
5
7
8
9
Loops ends

## write a program which prints all primes numbers upto n!

In [1]:
no = int(input())

for i in range(2,no+1):
    count=0
    for j in range(2,i):
        if (i%j ==0 and i!=2):
            count=1
            break;
    if count==0:        
        print(i,end=" ")

10
2 3 5 7

## Keywords Arguments

In [85]:
def myFunc(score,lang,rollNo):
    print("I score %d in %s and my roll no is %d "%(score,lang,rollNo))
    
myFunc(90,"Python",10)  
print("Abhijeet","Kumar",end="+")

I score 90 in Python and my roll no is 10
Abhijeet Kumar+

In [88]:
def myFunc(score,lang,rollNo):
    print("I score %d in %s and my roll no is %d "%(score,lang,rollNo))
    
myFunc(90,"Python",10)  
print("Abhijeet","Kumar",sep="+")

I score 90 in Python and my roll no is 10
Abhijeet+Kumar

## Strings Built In method

In [89]:
str = "Coding Blocks"
print(str)

Coding Blocks

In [90]:
print(str[0])

C

In [91]:
print(str[-1])

s

In [92]:
print(len(str))

13

In [95]:
#string are not mutable
str[0] ='s'

TypeError: 'str' object does not support item assignment

In [96]:
#to iterate over string
for i in range(len(str)):
    print(str[i])

C
o
d
i
n
g

B
l
o
c
k
s

In [97]:
for c in str:
    print(c)

C
o
d
i
n
g

B
l
o
c
k
s

## Working with Strings

In [101]:
a = "Mango"
b = "Juice"
print(a + b)

MangoJuice

In [119]:
a[::-1]

'skcolB gnidoC'

In [104]:
print(a*5)

MangoMangoMangoMangoMango

In [105]:
# Range Slicing
a[0]

'M'

In [106]:
a[-1]

'o'

In [107]:
a[ : ]

'Mango'

In [108]:
a[-1: ]

'o'

In [111]:
a[0 : -5]

''

## Membership - Substring is Present or Not

In [113]:
a = "Coding Blocks"
b = "Cod"

if b in a:
    print("Yes")
else:
    print("NO")

Yes

In [114]:
b in a

True

In [115]:
# String Formating
print("My favourite fruit is %s and comes from %s"%("Mango","India"))

My favourite fruit is Mango and comes from India

In [116]:
# String Formating
print("My favourite fruit is %s and comes from %c"%("Mango","I"))

My favourite fruit is Mango and comes from I

In [136]:
#Triple Quotes

para = """This is some paragraph 
written her
its really intresting"""
print(para)

This is some paragraph
written her
its really intresting

In [120]:
a="mango"
a[::-1]

'ognam'

In [121]:
b="mango aam"
b[::-1]

'maa ognam'

In [142]:
a="124"

print(int(a[::-1]))

421

In [143]:
a[::-1]

'421'

In [139]:
l=para.split()
print(l)
print(type(l))
print(type(l[0]))

['This', 'is', 'some', 'paragraph', 'written', 'her', 'its', 'really', 'intresting']
<class 'list'>
<class 'str'>

In [138]:
para.splitlines()

['This is some paragraph ', 'written her', 'its really intresting']

In [21]:
fruit="Mango"
fruit.upper()
#fruit.lower()

'MANGO'

## Space removing leading and ending

In [152]:
shake ="    Apple Shake   "
shake2 ="    Apple Shake   "
print(shake)

    Apple Shake

In [147]:
shake = shake.lstrip() #Remove the leading white space
print(shake)
print(len(shake))

Apple Shake
14

In [149]:
shake = shake.rstrip() #Removes ending white space
print(shake)
print(len(shake))

Apple Shake
11

In [155]:
shake2 = shake2.strip()
print(shake2)
print(len(shake2))

Apple Shake
11

In [156]:
a="1234"
a.isdigit() #if a string contain only digit ,return true

True

In [157]:
a="ab55"
a.isdigit()

False

In [168]:
a ="123abB"
b="  "
c="AA24"
print(a.isalnum())
print(a.islower())
print(b.isspace())
print(c.isupper())

True
False
True
True

## Some more String Functions:

In [181]:
a = "I love having Apple Juice, and I like eat green Apple"
print(a.find("Apple")) #it will give index from left side if present,otherwise it return -1
print(a.rfind("Apple")) #from right side
print(a.find("Apple",30,len(a)))

print(a.index("Apple")) #it will also gives index 
print(a.index("Apple",30,len(a)))
#Difference is find() return -1, index throw exception if not found

14
48
48
14
48

## Replace

In [182]:
a = a.replace("Apple","Mango")
print(a)

I love having Mango Juice, and I like eat green Mango

## Count

In [183]:
a.count("Mango") # if not present gives 0

2

## join

In [185]:
l = a.split()
print(l)

['I', 'love', 'having', 'Mango', 'Juice,', 'and', 'I', 'like', 'eat', 'green', 'Mango']

In [186]:
b ="_"
b = b.join(l)
print(b)

I_love_having_Mango_Juice,_and_I_like_eat_green_Mango

In [187]:
name_org = "coding blocks"
name_org.capitalize()  #it will capitalize 1st character of first word

'Coding blocks'

In [188]:
name_org1 = "coding blocks"
name_org1.title() #it will capitalize first chracter of each words

'Coding Blocks'

## Data Structures in Python

## Builtin Datatypes
   . strings
   .Lists
   .Tuples
   .Dictionaries
   .sets


## Lists-

  ## .Lists is like array,hetrogeneous list

In [192]:
myList = [1,2,3.5,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [196]:
l2 = list([1,2,3])
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [199]:
l3 = list(l2)
print(l3)
l3= l3 + l2
print(l3)
l3.extend(l2)
print(l3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [200]:
# lIst of Square of the numbers from 1 to 5
l4 = [i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

## List Sclicing

In [202]:
print(l4[0:4])
print(l4[-3:])

[1, 4, 9, 16]
[9, 16, 25]

## Insertion and Delection 
- append
- insert

- remove
- pop
- del

In [206]:
l = [1,2]
l.append(3)
l.append([1.0,2.1])
l += [4,5,6]
print(l)

[1, 2, 3, [1.0, 2.1], 4, 5, 6]

In [208]:
print(l[3])
print(l[3][1])

[1.0, 2.1]
2.1

In [209]:
l.remove(2)
print(l)

[1, 3, [1.0, 2.1], 4, 5, 6]

In [210]:
del l[0] #it remove element from index
print(l)

[3, [1.0, 2.1], 4, 5, 6]

In [211]:
l.pop() # it will remove element from last
print(l)

[3, [1.0, 2.1], 4, 5]

In [214]:
l = ([1,2,3])
l = l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [215]:
l1 = (["Apple","Mango","Guava",80])
80 in l1

True

In [216]:
for i in range(len(l1)):
    print(l1[i])

Apple
Mango
Guava
80

In [217]:
for x in l1:
    print(x)

Apple
Mango
Guava
80

In [218]:
l1.insert(0,"Abhijeet")
print(l1)

['Abhijeet', 'Apple', 'Mango', 'Guava', 80]

## More functions on lists : Searching & Sorting

In [220]:
l = [4,3,2,16,18]
print(max(l))
print(min(l))
 #Linear Search
print(l.index(16))

18
2
3

In [223]:
l = sorted(l)

In [224]:
print(l)

[2, 3, 4, 16, 18]

In [226]:
l = [4,3,1,6,0]
l.sort()
print(l)

[0, 1, 3, 4, 6]

In [228]:
l1 = [4,3,1,6,0]
l1.sort(reverse=True)
print(l1)

[6, 4, 3, 1, 0]

In [231]:
## Read a list of Numbers
numbers = [int(num) for num in input().split()]
print(numbers)
print(type(numbers))

1 2 3 4 5
[1, 2, 3, 4, 5]
<class 'list'>

In [232]:
numbers = [int(num)*int(num) for num in input().split()]
print(numbers)
print(type(numbers))

1 2 3 4
[1, 4, 9, 16]
<class 'list'>

## Dictionaries in python

In [50]:
d = {"Mango":100,"Apple":80}
print(d)

d["Guava"]= 60
print(d["Guava"])
print(d)

d["Grape"] = [10,20]
print(d["Grape"])
print(d)

d["Pineapple"] = {"small":90,"Large":150}
print(d["Pineapple"]["small"])
print(d)

{'Mango': 100, 'Apple': 80}
60
{'Mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20]}
90
{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Pineapple': {'small': 90, 'Large': 150}}

In [242]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [243]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'small': 90, 'Large': 150}])

In [52]:
print(d.get("Mango"))

100

In [250]:
if "Mangoes" in d:
    print("Price of Mango id %d"%(d["Mango"]))
else:
    print("Doesn,t exist")

Doesn,t exist

In [252]:
del d["Pineapple"] #items return list of tupels 
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

In [253]:
d2 = {"Strawberry":95}

d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Strawberry': 95}

In [254]:
print(len(d))

5

In [255]:
d.clear()
print(len(d))

0

In [257]:
l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,120,30,50]

p = dict(zip(l1,l2)) #zip helps to create a dictinary from two list
print(p)

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}

In [259]:
for k in p.keys():
    print(k)

Apple
Papaya
Guava
Banana

In [260]:
for k in p.values():
    print(k)

100
120
30
50

## Tuples in Python

In [261]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [264]:
#tuples are immutable
#t[0] = 5
print(t[0])

1

In [266]:
# Convert a tuple into a list
l = list(t)
print(l)

l[0]=5
print(l)

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

In [267]:
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [268]:
#concatentation
print(t2 + t)

#Repetition
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [270]:
print(len(t))

4

In [272]:
t = (1,55,99,44)
print(max(t))
print(min(t))

99
1

In [273]:
del t
print(t)

NameError: name 't' is not defined

## SET
- it is a unordered collection of datatypes that is itrable,mutable and has no duplicate

In [287]:
s = set([15,1,2,3,4,3,1,2])
print(s)

{1, 2, 3, 4, 15}

In [290]:
if(10 in s):
    print("true")
else:
    print("False")

False

In [275]:
s1 = {5,6,11,21,1}
print(s1)

{1, 5, 6, 11, 21}

In [277]:
s1.add(50)
print(s1)

{1, 5, 6, 11, 50, 21}

In [278]:
s.union(s1)

{1, 2, 3, 4, 5, 6, 11, 15, 21, 50}

In [279]:
s | s1

{1, 2, 3, 4, 5, 6, 11, 15, 21, 50}

In [280]:
s & s1

{1}

In [281]:
s.intersection(s1)

{1}

In [282]:
s-s1

{2, 3, 4, 15}

In [283]:
s.difference(s1)

{2, 3, 4, 15}

In [285]:
s.clear()

In [291]:
a1 = {1,2,2,4,5,7}
a2 = {2,1,8,9,0}

#Those element which are only one in either of the set
print(a1 ^ a2)

{0, 4, 5, 7, 8, 9}

## try,except,finally keywords
- As we know "except" will run when error will be there in "try" statement.And when error will not there "else " will run.So this program should run except statement
- Finally will always execute irrespective of error or not

In [315]:
def div(a,b):
    try:
        return a/b
    except:
        print("Error")
    finally:
        print("Wrapping Up")

In [318]:
div(2,1)

Wrapping Up

2.0

In [379]:
try:
  x>3
except:
   print("Something went wrong")
else:
  print("Nothing went wrong")
finally:
  print("The try...except block is finished")

Something went wrong
The try...except block is finished

In [330]:
def div(a,b):
    try:
        return a/b
    except:
        print("Error")
    finally:
        print("Wrapping Up")
        return 11

In [331]:
div(10,1)

Wrapping Up

11

## Local & Global Variables

In [344]:
x = 10
def show():
    x=5
    print(x)

In [345]:
show()
print(x)

5
10

In [346]:
#this program will show error becz local can't access global x for reference so we use "global x"
x = 10
def show():
    global x
    x+=5
    print(x)

In [347]:
show()
print(x)

15
15

In [361]:
x = 10
def show():
   z = "local"
   print(x)
   print(z)

In [363]:
show()
print(x)
print(z) #here z variable is local not in the scope of print(z)

10
local
10

NameError: name 'z' is not defined

In [365]:
#Enclosures
def outer():
    x = "local"
    
    def inner(): # fns inside fns
        print(x)
    inner()
    print(x)

In [366]:
outer()

local
local

In [369]:
del x #we deleted the global x,so error will show,we use "nonlocal" to access the x

In [372]:
#Enclosures
def outer():
    x = 10
    
    def inner():
        nonlocal x
        x+=5
        print(x)
    inner()
    print(x)

In [373]:
outer()

15
15

## Default argument values

In [381]:
def show(a, b, c, d = "something", e ="something more"):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)

In [383]:
print?

In [382]:
show("hello", "world" , "python", e ="Abhijeet")

hello
world
python
something
Abhijeet

In [384]:
print("Abhijeet", "Kumar", "is" , "Python" , "Lover")

Abhijeet Kumar is Python Lover

In [390]:
def show(a,b,c, *args):
    print(args)

In [391]:
show(1,2,3,"Abhijeet")

('Abhijeet',)

In [398]:
def show(a, b, c, *args, d =10, e = 20,**kwargs):
      print(a)
      print(args)
      print(d)
      print(e)
      print(kwargs)

In [400]:
show(1,2,3,"Abhi","Kumar" ,d = 100, name = "Abhijeet")

1
('Abhi', 'Kumar')
100
20
{'name': 'Abhijeet'}

## Lambda Functions
- Syntactical Sugar

In [406]:
def add(a ,b):
    return a+b

In [407]:
add = lambda a,b: a+b

In [410]:
add(1,2)

3

In [411]:
a =[5,8,6,4,9]

In [412]:
sorted(a)

[4, 5, 6, 8, 9]

In [416]:
b = [("Ram", 20),("Jatin", 1),("Abhijeet", 10),("Pratik",15)]

In [414]:
sorted(b)

[('Abhijeet', 10), ('Jatin', 1), ('Pratik', 15), ('Ram', 20)]

In [421]:
sorted(b, key = lambda x: x[1],reverse=True)

[('Ram', 20), ('Pratik', 15), ('Abhijeet', 10), ('Jatin', 1)]

## Decorators

In [424]:
users = {
    "Abhijeet": "password",
    "Prateek" : "coding blocks"
}

In [425]:
def show(username, password):
    if username in users and users[username] == password:
        print("Hello world")
    else:
        print("Not Authenticated")

In [427]:
show("Abhijeet", "password") #username & password match

Hello world

In [429]:
show("Prateeks", "coding blocks") #not matched

Not Authenticated

In [430]:
def login_required(func):
    def wrapper(username, password, *args, **kwargs):
        if username in users and users[username] == password:
            #user is authenticated
            func(*args, **kwargs)
        else:
            print("Not Authenticated")
            
    return wrapper

In [439]:
def add(a, b):
    print(a+b)
add = login_required(add)

In [440]:
@login_required # above fns is same as this one...it is Decoraters
def add(a, b):
    print(a+b)

In [444]:
add("Abhijeets","password",1 ,5)

Not Authenticated

In [432]:
add(1, 2)

3

In [433]:
protected_add = login_required(add)

In [437]:
protected_add("Abhijeet","password",1,2)

3

In [11]:
n=int(input())
a = list(map(int,input().split()))
l=sorted(set(a))
print(l)

4
1 2 2 4
[1, 2, 4]

In [27]:
if __name__ == '__main__':
    ele=[]
    n=int(input())
    for i in range(n):
        name = input()
        score = float(input())
        ele.append([name,score]        
print(ele)

SyntaxError: invalid syntax (<ipython-input-27-e891904c3bb7>, line 8)

In [26]:
min(ele, key = lambda x: x[1])

['Harsh', 39.0]

In [25]:
print(ele)

[['Harsh', 39.0]]

In [29]:
[[1,2,3]] + [[3,6]]

[[1, 2, 3], [3, 6]]

In [31]:
 b =[2,1,0,8,5,1]
 c = sorted(list(set(b)))[2]   
print(c)

2

In [48]:
marksheet = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
second_highest = sorted(list(set([marks for marksheet, marks in marksheet])))[1]
print(second_highest)

37.21

In [54]:
x = 13.949999999999999999
h = round(x, 2)
print(h)

13.95

In [64]:
n = int(input())
student_marks = {}
    
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
k = list(student_marks[query_name])    
print(k)

3
Harsh 25 26.5 28
Anurag 26 28 30
Krishna 67 68 69
Anurag
[26.0, 28.0, 30.0]

In [66]:
sum = sum(k)
x=sum/3
print('%.2f' % x)

28.00

In [30]:
string = input()

list_ = []

for i in string[:].split():

    a = i[0].upper() + i[1:] 

    list_.append(a)

print(' '.join(list_))

ab bb hhh
Ab Bb Hhh

In [43]:
string = "ABCDEFGHIJKLIMNOQRSTUVWXYZ"
m = 4
for i in range(0,len(string)+1,m):
        result=string[i:i+m]
        print(result)

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [46]:
o = format(2, '0').rjust(3)
print(o)

  2

In [ ]:
n = int(input())